body {
	background-color: lightblue;
}
h1 {
	color: rgb(0,0,0);
	text-align: left;
}
h4 {
	text-decoration: underline;
	color: black;
}
p {
	font-weight: 500;
}
ul{
	font-weight: 1000;
	color: blue;
}
.form {
	background: grey;
	border: 1;
	color: white;
}
.column1 {
	background: lightsalmon;
}